<div class="cart-container">
  <div class="cart-basket--item-header white-foreground">
    <div class="text">Item</div>
    <div class="text">Name</div>
    <div class="text">Quantity</div>
    <div class="text">Price/Unit</div>
  </div>
  <div class="cart-basket white-foreground">
    <div class="cart-basket--item" *ngFor="let item of cartBasket">
      <img src="{{ item.imgSrc }}" />
      <div class="text">{{ item.name }}</div>
      <div class="text">{{ item.quantity }}</div>
      <div class="text">{{ item.price }}</div>
    </div>
    <div class="summary-stats">
      <div>
        <strong>Order Total: </strong><span class="highlight">RM 99.99</span>
      </div>
    </div>
  </div>

  <div class="cart-actions" *ngIf="!noButton">
    <button mat-button routerLink="/cart/checkout">Check Out</button>
  </div>
</div>
