.cart-container {
  .summary-stats {
    margin: 2em 5em 1em 0;
    display: flex;
    flex-flow: row;
    div {
      width: 100%;
      text-align: end;
      font-size: 1.2em;
      .highlight {
        color: rgb(242, 124, 27);
        font-weight: bold;
      }
    }
  }
  .cart-basket--item-header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    div {
      flex: 1;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  .cart-basket {
    display: flex;
    flex-flow: column;

    .cart-basket--item {
      img {
        flex: 1;
        width: 100px;
      }
      div {
        flex: 1;
      }
      display: flex;
      flex-flow: row;
      justify-content: space-between;
    }
  }
  .text {
    text-align: center;
    margin: auto 0;
  }
  .cart-actions {
    text-align: end;
    margin: 1em 2em;
    button {
      height: 4em;
      width: 16em;
      font-size: 1.1em;
      background-color: rgb(242, 124, 27);
      color: #ffffff;
    }
  }
}
