.mat-dialog-content {
  .uppercase {
    text-transform: uppercase;
  }
  .row {
    display: flex;
    span:last-child {
      text-align: end;

    }
  }
  .row > * {
    flex: 1;
    margin: 0.3em 0;
  }
}

.mat-dialog-actions {
  button {
    height: 3em;
    width: 100%;
    margin: 1em 0;
    font-size: 1.1em;
    background-color: rgb(242, 124, 27);
    color: #ffffff;
  }
}
