<h2>CONFIRMATION</h2>
<mat-divider></mat-divider>
<div mat-dialog-content>
  <h3>TO</h3>
  <div class="row">
    <span>Seller</span>
    <span>Beans Hardware Tech Sdn Bhd</span>
  </div>

  <div class="row">
    <span>Account Number</span>
    <span>999888777666</span>
  </div>

  <div class="row">
    <span>Amount</span>
    <span>114.19</span>
  </div>

  <br />
  &nbsp;

  <mat-divider></mat-divider>

  <h3>FROM</h3>

  <div class="row">
    <span>Account Number</span>
    <span>{{ data.creditorAcctNum }}</span>
  </div>

  <div class="row">
    <span>Account Name</span>
    <span class="uppercase">{{ data.creditorName }}</span>
  </div>

  <div class="row">
    <span>Transfer Type</span>
    <span>DuitNow</span>
  </div>

  <div class="row">
    <span>Bank Name</span>
    <span>Beans Bank</span>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="approveOnClick()">Approve</button>
</div>
