mat-toolbar.mat-toolbar.mat-toolbar-single-row {
  background-color: rgb(242, 124, 27);
  color: #ffffff;
  padding-right: 16px;
  padding-left: 0;

  img {
    height: 64px;
    margin-right: 1em;
  }
}

.mat-drawer-container {
  height: calc(100% - 64px);

  .mat-drawer {
    width: 12vw;
    .mat-list {
      padding-top: 0;
      .mat-list-item {
        width: 100%;
        height: 4em;
        text-decoration: none;
        color: #000000;
      }
      .mat-list-item:hover {
        background-color: #d9d9d9;
        color: #ffffff;
      }
      .mat-list-item.active-route {
        background-color: #a6a6a6;
        color: #ffffff;
      }
    }
  }

  .mat-drawer-content {
    background-color: #f3f3f3;
  }
}
