<mat-toolbar>
  <img src="assets/image/wallet_logo.png" />
  <div>Beans Dompet</div>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened disableClose>
    <mat-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active-route"
        >HOME</a
      >
      <a mat-list-item routerLink="/cart" routerLinkActive="active-route">
        MY CART
      </a>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
