/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Gudea&display=swap');

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Gudea', sans-serif;
}

.white-foreground {
  padding: 2em 1em;
  box-shadow: 0 0 5px #999999;
  height: fit-content;
  background-color: #ffffff;
  margin: 1em 2em 1em;
}

snack-bar-container.custom-snackbar {
  margin: 0;
  min-width: 100vw;
  padding: 4em 10em;
  background-color: #3aba6f;
  // border-radius: 0;
}
