<div class="checkout-container" *ngIf="showCheckout">
  <!-- <app-cart noButton="true"></app-cart> -->

  <div class="checkout-form white-foreground">
    <div class="payment-option">
      <h3>Payment Option:</h3>
      &nbsp;&nbsp;&nbsp;
      <mat-radio-group (change)="paymentOptionChange($event)">
        <mat-radio-button value="duitnow">
          <img src="assets/image/DuitNow.png" />
        </mat-radio-button>
        <mat-radio-button value="debitcredit">
          <img src="assets/image/visaMaster.png" />
        </mat-radio-button>
        <mat-radio-button value="fpx">
          <img src="assets/image/fpx.png" />
        </mat-radio-button>
        <mat-radio-button value="paypal">
          <img src="assets/image/paypal.png"/>
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field class="sm-fd" *ngIf="showForm">
      <mat-select
        placeholder="Select DuitNow Option"
        (selectionChange)="duitnowOptionChange($event)"
      >
        <mat-option value="Mobile No.">Mobile No.</mat-option>
        <mat-option value="NRIC">NRIC</mat-option>
        <mat-option value="Passport">Passport</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="sm-fd" *ngIf="showField">
      <input [(ngModel)]="fieldValue" matInput placeholder="{{ fieldEntry }}" />
    </mat-form-field>
  </div>
  <div class="summary-stats white-foreground">
    <div class="preview"></div>
    <img src="assets/image/keyboard.png" />
    <div class="stats">
      <div>
        <strong>Merchandise Subtotal: </strong
        ><span class="highlight">RM 99.99</span>
      </div>
      <div>
        <strong>Shipping Total: </strong><span class="highlight">RM 14.20</span>
      </div>
      <div>
        <strong>Points Earned: </strong><span class="highlight">69</span>
      </div>
      <div>
        <strong>Total Payment: </strong><span class="highlight">RM 114.19</span>
      </div>
    </div>
  </div>
  <div class="checkout-actions" *ngIf="showField">
    <button mat-button (click)="placeOrderOnClick()">Place Order</button>
  </div>
</div>
