.checkout-container {
  .payment-option {
    .mat-radio-button {
      margin-right: 4em;
      img {
        height: 30px;
      }
    }
  }
  .summary-stats {
    display: flex;
    flex-direction: row;
    .preview {
      flex: 1
      img {
      }
    }
    .stats {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 3em;
      align-items: flex-end;
      div {
        margin-top: 0.5em;
        width: 30%;
        text-align: end;
        font-size: 1.2em;
        display: flex;
        .highlight {
          color: rgb(242, 124, 27);
          font-weight: bold;
        }
      }
      div > * {
        flex: 1;
      }
    }
  }
  .checkout-form {
    display: flex;
    flex-direction: column;
    h3 {
      display: inline-block;
    }
    .mat-form-field.sm-fd {
      width: 25%;
      display: flex;
      flex-direction: column;
    }
  }
  .checkout-form > * {
    flex: 1;
    margin-bottom: 2em;
  }
  .checkout-actions {
    text-align: end;
    margin: 1em 2em;
    button {
      height: 4em;
      width: 16em;
      font-size: 1.1em;
      background-color: rgb(242, 124, 27);
      color: #ffffff;
    }
  }
}
